@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100px;
    background-color: #000; 
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header--site {
    display: flex;
    height: 100px;
    align-items: center;
}

.logo--site {
    width: 100px;
}

.logo--img {
    width: 80px;
    height: 80px;
    background-color: #ba8b55;
}

.menu--site {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu--site ul, .menu--site li {
    list-style: none;
}

.menu--site ul {
    display: flex;
}

.menu--site li a{
    text-decoration: none;
    margin-left: 15px;
    text-transform: uppercase;
    color: #FFF;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid transparent;
    font-weight: bold;
}

.active{
    border-bottom: 5px solid #ba8b55 !important;
}

.menu--site li a:hover{
    border-bottom: 5px solid #ba8b55;
}